doctype html
html(lang="en")
  head
    include head.pug

  body.container.px-0.my-5
    div.text-center
      h1 404: We couldn't find the page you are looking for.
      h2.lead Maybe some caffeine would help?
      if (currentUser)
        a.btn.btn-primary(href=`/users/${currentUser.username}` role="button") Go back to my Coffeegrams
      else
        a.btn.btn-primary(href="/sessions/new" role="button") Login
        
    include scripts.pug
