doctype html
html(lang="en")
  head
    title coffeegram
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block scripts
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")

  body.container.px-0.my-5
    div.text-center
      h1 404: We couldn't find the page you are looking for.
      h2.lead Maybe some caffeine would help?
      if (currentUser)
        a.btn.btn-primary(href=`/users/${currentUser.username}` role="button") Go back to my Coffeegrams
      else
        a.btn.btn-primary(href="/sessions/new" role="button") Login
