extends layout.pug

block content
  h1 About the developer
  img.img-fluid.rounded(src="http://www.gravatar.com/avatar/55967ff6051d799f9ccdffaa64c5e8ad.jpg?s=300")
  p.
    
    Joshua Martin is a latte connoisseur originally from Atlanta. He frequently haunts local coffee shops.
