doctype html
html(lang= "en")
  head
    title about

  body
    h1 About The Developer

    p.
      Joshua Martin is a latte connoisseur originally from Atlanta. He frequently haunts local coffee shops.
