a.btn.btn-primary(href="#updateCoffeegram" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="updateCoffeegram")
  i.fa.fa-pencil
div.collapse(id="updateCoffeegram")
  form.my-2(action=`/coffeegrams/${coffeegram.id}` method="post")
    div.form-group
      input.mb-2.form-control(type="text" name="description" value=(coffeegram.description) placeholder="Update your description" autofocus)
      select.mb-2.form-control(name="type")
        - var coffeeTypes = ["Cappuccino", "Cortado", "Espresso", "Flat White", "Latte", "Macchiato", "Other"];
        each type in coffeeTypes
          option(selected=(coffeegram && coffeegram.type === type)) #{type}
      input.mb-2.form-control(type= "text" name="shop" value=(coffeegram.shop) placeholder="Update the location")
      button.btn.btn-primary(type="submit") Update
