div.container.px-0.mb-5
  ul.list-inline.row
    each val in coffeegrams
      li.list-unstyled.col-sm-4.mb-4
        a(href=`/coffeegrams/${val.id}`)
          img.img-fluid.rounded(src=`/uploads/${val.image}`).mb-2
        include star-rating.pug
        strong= val.type
        if val.description
          br
          = val.description
        br
        small= helpers.momentFrom(val.createdAt)
