extends layout.pug

block content
  div.container.px-0.mb-5.text-center
    img.img-fluid.rounded(src=`/uploads/${coffeegram.image}`).mb-2
    include star-rating.pug
    strong= coffeegram.type
    if coffeegram.description
      br
      = coffeegram.description
    if coffeegram.shop
      br
      em= coffeegram.shop
    br
    small= helpers.momentFrom(coffeegram.createdAt)
    if coffeegram.userId.equals(currentUser.id)
      br
      include edit.pug
