extends layout.pug

block content
  h1 Your feed

  div.container
    ul.list-inline.row
      each val in coffeegrams
        li(class="list-unstyled col-sm-4")
          img(class="img-fluid rounded" src=val.image)
          br
          = val.description
          br
          = val.coffeeType
