extends layout.pug

block content
  div.text-center
    h1 Welcome back, caffeine connoisseur
    h2.lead
      | Login or
      = ' '
      a(href="/users/new") create a new account

  div.p-0.mb-5
    form(action="/sessions" method="post")
      div(class="form-group")
        label(for="email") Email address
        input(class="form-control" name="email" type="email" placeholder="john.doe@domain.com" autofocus required)
      div(class="form-group")
        label(for="password") Password
        input(class="form-control" name="password" type="password" placeholder="yourpassword" required)
      button(type="submit" class="btn btn-primary") Login

    small
      a(href='#') Forgot your password?
