extends layout.pug

block content
  div.text-center
    h1 Share your new opus with the world
    h2.lead And make up for all those awkward stares

  div.p-0.mb-5
    form(action="/coffeegrams" method="post" enctype="multipart/form-data")
      div(class="form-group")
        label(for="image") Upload your coffeegram
        input(class="form-control" name="image" type="file" accept="image/jpeg" required)
      div(class="form-group")
        label(for="description") Describe your coffeegram
        textarea(class="form-control" name="description" placeholder="Latte ipsum dolor sit awhile" autofocus) #{coffeeParams ? coffeeParams.description : ""}
      div(class="form-group")
        label(for="type") How would you classify your coffee?
        select(class="form-control" name="type")
          option Cappuccino
          option Cortado
          option Espresso
          option Flat White
          option Latte
          option Macchiato
      div(class="form-group")
        label(for="shop") Where did you capture this masterpiece?
        input(class="form-control" name="shop" type="text" value=(coffeeParams ? coffeeParams.shop : "") placeholder="Soul Caffeine")
      button(type="submit" class="btn btn-primary") Submit
