extends layout.pug

block content
  h1 New coffeegram

  form(action="/coffeegrams" method="post")
    div(class="form-group")
      img(class="img-fluid rounded" src="https://s-media-cache-ak0.pinimg.com/736x/5b/4d/06/5b4d0627ef27dcb0b7e54d5c2887f2d1.jpg")
    div(class="form-group")
      label(for="description") Describe your coffeegram
      textarea(class="form-control" name="description" placeholder="Latte ipsum dolor sit awhile" autofocus)
    div(class="form-group")
      label(for="coffee-type") Coffee Type
      select(class="form-control" name="coffee-type")
        option Cappuccino
        option Cortado
        option Espresso
        option Flat White
        option Latte
        option Macchiato
    button(type="submit" class="btn btn-primary") Submit
