extends layout.pug

block content
  h1 New coffeegram

  form(action="/coffeegrams" method="post" enctype="multipart/form-data")
    div(class="form-group")
      label(for="image") Upload your coffeegram
      input(class="form-control" name="image" type="file" required)
    div(class="form-group")
      label(for="description") Describe your coffeegram
      textarea(class="form-control" name="description" placeholder="Latte ipsum dolor sit awhile" autofocus)
    div(class="form-group")
      label(for="coffee-type") Coffee Type
      select(class="form-control" name="coffee-type")
        option Cappuccino
        option Cortado
        option Espresso
        option Flat White
        option Latte
        option Macchiato
    button(type="submit" class="btn btn-primary") Submit
