script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="/assets/scripts/webshim/polyfiller.js" charset="utf-8")
script webshims.polyfill();
script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")
script(src="/assets/scripts/FileAPI.html5.min.js" charset="utf-8")
script(src="/assets/scripts/FileAPI.exif.js" charset="utf-8")
script(src="/assets/scripts/main.js" charset="utf-8")
