extends layout.pug

block content
  img.img-fluid.rounded(src=`${helpers.gravatar(user.email)}`)
  
  h1 #{user.name}'s Coffeegrams
  
  div.container
    ul.list-inline.row
      each val in coffeegrams
        li.list-unstyled.col-sm-4
          img.img-fluid.rounded(src=`/uploads/${val.image}`)
          br
          = val.description
          br
          = val.coffeeType
