extends layout.pug

block content

  div.container.d-flex.flex-row.align-items-center.px-0.mb-4
    div.col-3.pl-0
      img.img-fluid.rounded-circle(src=`${helpers.gravatar(user.email)}`)
    div.col-9.pr-0
      ul.list-unstyled.mb-0
        li
          h1 #{user.name} | #{user.username}
        li
          h3 Lover of coffee, composing, and coding.
        li
          small Member since #{user.createdAt}

  include feed.pug
